<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Sinatra Kickstart</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h1>Sinatra Kickstart</h1>
  <%= yield %>
  <script src="/assets/scripts.js"></script>
</body>
</html>
